.user-bar{
    position: absolute;
    text-align: left;
    top: 50px;
    left: 0px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 200px;
    padding: 10px;
    font-size: large;
}
.user-bar :hover{
    background-color: #a29c9c;
    cursor: pointer;
    padding: 1px;
}