@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --primary-blue: #0056b3; 
  --primary-hover: #004494;
  --text-color: #333;
  --border-color: #ddd;
  --bg-color: #f9f9f9;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
}

.auth-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.auth-logo {
  margin-bottom: 20px;
}
.auth-logo img {
  height: 60px;
  object-fit: contain;
}

.auth-card {
  background: white;
  width: 100%;
  max-width: 450px;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
  box-sizing: border-box;
}

.auth-title {
  text-align: center;
  color: var(--primary-blue);
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 700;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
  color: var(--text-color);
}

.text-red {
  color: red;
  margin-left: 4px;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.form-group input:focus {
  outline: none;
  border-color: var(--primary-blue);
}


.input-wrapper {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
}

.auth-link {
  text-align: right;
  font-size: 13px;
  margin-bottom: 25px; 
  font-style: italic;
}

.auth-link a {
  color: var(--primary-blue);
  text-decoration: none;
  font-weight: 500;
}

.auth-link a:hover {
  text-decoration: underline;
}

.btn-primary {
  width: 100%;
  padding: 14px;
  background-color: var(--primary-blue);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  transition: background 0.3s;
}

.btn-primary:hover {
  background-color: var(--primary-hover);
}